# Auto generated backups #
*~

# Some gwt speicial folders #
.project
.classpath
.settings
.gwt
metadata/
war/resources/
gwt-unitCache/
war/WEB-INF/
src/META-INF/
src/log4j.properties
war/mimosa3/*cache.*
war/mimosa3/hosted.html
war/mimosa3/junit-standards.html
war/mimosa3/junit.html
war/mimosa3/.junit_symbolMaps/
war/resources
war/SwissMuseumParcours.css
